/* main.css */

/* Resetting styles */
body, html {
  margin: 0;
  padding: 0;
}

/* Setting up row */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Column styles */
.col-md-5 {
  box-sizing: border-box;
  padding: 15px;
}

/* Section styles */
.section {
  background-color: #fcf3ec;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.section h2 {
  margin-top: 0;
}

/* Add Reminder section */
.add-reminder-section {
  width: 100%; /* Full width */
  margin-top: 20px; /* Add margin to separate from above section */
}
