{% extends "blog/base.html"%}
{% block content %}
    <h1> About PrepPal </h1>
    <p> Welcome to GITAM PrepPal, <br>
        GITAM PrepPal is your ultimate companion for exam preparation at GITAM. We offer past question papers, model tests, and important questions, all designed to streamline your study process.
        <br>
        <br>
        <h3>Our Mission</h3><br>
        Our mission is to empower GITAM students with the resources they need to excel in their exams. We aim to provide a comprehensive, user-friendly, and engaging study platform.
        <br>
        <br>
        <h2>Key Features</h2><br>
        Past Question Papers: Easily find and review previous years' exam papers.
        Model Tests: Practice with our model tests to gauge your preparedness.
        Important Questions: Focus on the questions that matter the most.
        Personalized Study Plans: Get study plans tailored to your schedule and progress.
        Progress Tracking: Monitor your improvement and stay motivated.</p>
{% endblock content %}
