{% extends "blog/base.html" %}

{% block content %}
    <div id="calendar"></div>
{% endblock content %}

{% block extra_scripts %}
    <script src="{% static 'fullcalendar/main.min.js' %}"></script>
    <link href="{% static 'fullcalendar/main.min.css' %}" rel="stylesheet">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                // Calendar configuration options here
            });
            calendar.render();
        });
    </script>
{% endblock extra_scripts %}
