{% extends "blog/base.html"%}
{% block content %}
<h1>Welcome to our Help Page!</h1>
<p>Here, you'll find answers to common queries and assistance with using our platform effectively.</p>
<p>Explore our comprehensive FAQs section to resolve any doubts or questions you may have about our services and features.</p>
<p>Need further assistance? Feel free to reach out to our dedicated support team via email or phone, and we'll be happy to help you.</p>
<p>Stay updated with our latest announcements and news to make the most out of your experience on our platform.</p>
<p>Thank you for choosing us. We're committed to providing you with the best possible support to ensure a seamless user experience.</p>

    <p>For any sort of queries, you can get them addressed using below details.  </p>
    <p>Mail:help@PrepPal.in</p>
    <p>Mobile:98294300238</p>
{% endblock content %}