
{% extends "blog/base.html" %}
{% block content %}
    <body class="homepage-bg">
        {% for post in posts %}
            <article class="media content-section blog-post">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.subject }}</p>
                </div>
            </article>
        {% endfor %}
        </body>
{% endblock content %}

