{% extends "blog/base.html" %}
{% block content %}
    <div class="section">
        <h2>{{ subject.name }}</h2>
        <div class="tab-container">
            <h3>Study Materials</h3>
            <ul class="subject-list">
                {% for material in study_materials %}
                    <li>
                        {% if material.file %}
                            <a href="{{ material.file.url }}">{{ material.title }}</a>
                        {% elif material.link %}
                            <a href="{{ material.link }}">{{ material.title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-container">
            <h3>Previous Year Questions</h3>
            <ul class="subject-list">
                {% for question in previous_questions %}
                    <li>
                        {% if question.file %}
                            <a href="{{ question.file.url }}">{{ question.title }}</a>
                        {% elif question.link %}
                            <a href="{{ question.link }}">{{ question.title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
